[submodule "third_party/bromath"]
	path = third_party/bromath
	url = https://github.com/wlejon/bromath.git
[submodule "third_party/brotensor"]
	path = third_party/brotensor
	url = https://github.com/wlejon/brotensor.git
[submodule "third_party/broimage"]
	path = third_party/broimage
	url = https://github.com/wlejon/broimage.git
[submodule "third_party/brolm"]
	path = third_party/brolm
	url = https://github.com/wlejon/brolm.git
[submodule "third_party/broaudio"]
	path = third_party/broaudio
	url = https://github.com/wlejon/broaudio.git
